{% extends 'main/base.html' %}
{% load static %}
{% block body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.1/gsap.min.js"></script>
  <style>
    @media screen and (min-width: 300px) {
      .pad{
        padding: 0 0 30vh 0;
      }

    }
     @media screen and (min-width: 400px) {
      .pad{
        padding: 10vh 4vh 12vh 4vh;
      }

    }
    @media screen and (min-width: 700px) {
      .pad{
        padding: 5% 10% 10% 10%;
      }
      .button1{
        padding:10vh;
      }
    }
  </style>
  {% csrf_token %}
  <!-- Profile -->
  <div class="cta" style=" height: 100%">
    <div  style="" class="d-flex flex-xl-row flex-column align-items-start pad justify-content-start">


      <div class="cta_content" style="width: 100%;margin-top: 1vh; background-color: #211d1d;border-radius: 20px">
        <div class="section_title_container" style="">
          <div class="section_subtitle">Profile</div>

          <div class="section_title"><h1 style="padding: 2vh;opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-fill-mode:forwards;">{{userprofile.user.first_name}} {{userprofile.user.last_name}}</h1></div>
          <div class="section_subtitle" style="padding-top: 3vh;padding-left: 2vh"><h3 style="color: #c0c0c0;opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-fill-mode:forwards;">College : {{ userprofile.college }}</h3></div>
          {% if userprofile.teamId != "NULL" %}<div class="section_subtitle" style="padding-top: 1vh;padding-left: 2vh"><h3 style="color: #c0c0c0;opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-fill-mode:forwards;">Team : {{ userprofile.teamId }}</h3></div>{% endif %}
          <div class="section_subtitle" style="padding-top: 1vh;padding-left: 2vh"><h3 style="color: #c0c0c0;opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-fill-mode:forwards;">Phone : {{ userprofile.phone }}</h3></div>
        </div>
      <div style="padding-left: 4vh;padding-top: 10vh !important;;opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode:forwards;">
      <div class="row" style="padding: 0">
        <div style="padding: 0 4vh 2vh 4vh">
        <div class="button" onclick="alert('varchas is postponed new dates will be anounced soon.')" >
{#            <a href="{% if userprofile.teamId != "NULL" %}{% url 'accounts:myTeam' %}{% else %}{% url 'accounts:joinTeam' %}{% endif %}">#}
{#                {% if userprofile.teamId != "NULL" %}VIEW TEAM{% else %}JOIN TEAM{% endif %}#}
{#            </a>#}
            <a href="#">
                {% if userprofile.teamId != "NULL" %}VIEW TEAM{% else %}JOIN TEAM{% endif %}
            </a>
        </div>
      </div>
        {% if userprofile.teamId == "NULL" %}
        <div style="padding: 0 4vh 2vh 4vh">
         <div class="button">
{#             <a href="{% url 'registration:team' %}">CREATE A TEAM</a></div>#}
             <a href="#" onclick="alert('varchas is postponed new dates will be anounced soon.')">CREATE A TEAM</a></div>
        </div>

       {% endif %}
      </div>

      </div>
      </div>
    </div>
  </div>
  <!-- Footer -->

  <footer class="footer">
    <div class="footer_content">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class=" text-center" style="font-size: 7vh;color: white">Contact Us</div>
          </div>
        </div>
        <div class="row footer_row">
          <div class="col-lg-4 footer_col">
            <div class="footer_item text-center">
              <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                <div><i class="fa fa-phone fa-4x" style="color: white"></i></div>
              </div>
              <div class="footer_title">talk to us</div>
              <div class="footer_list">
                <ul>
                  <li>+91 87664 43560 - ASHISH CHAVHAN</li>
                  <li>+91 83404 60791 -  MANISH</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 footer_col">
            <div class="footer_item text-center">
              <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                <div><i class="fa fa-envelope fa-4x" style="margin-left: -1vh;margin-top:-1vh;color: white"></i></div>
              </div>
              <div class="footer_title">e-mail</div>
              <div class="footer_list">
                <ul>
                  <li><a href="mailto:varchas@iitj.ac.in" style="color: rgba(255,255,255,0.38)">varchas@iitj.ac.in</a></li>
                  <li><a href="mailto:pr_varchas@iitj.ac.in" style="color: rgba(255,255,255,0.38)">pr_varchas@iitj.ac.in</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 footer_col">
            <div class="footer_item text-center">
              <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                <div><i class="fa fa-map-marker fa-4x" style="color: white;margin-top: -1vh"></i></div>
              </div>
              <div class="footer_title">location</div>
              <div class="footer_list">
                <ul>
                  <li>Indian Institute of Technology</li>
                  <li>JODHPUR</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bar d-flex flex-row align-items-center justify-content-center">
      <div class="copyright">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
              href="https://colorlib.com" target="_blank">Varchas Web D Team</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
    </div>
  </footer>
  </div>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
  <script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
  <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
  <script src="{% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.js' %}"></script>
  <script src="{% static 'plugins/easing/easing.js' %}"></script>
  <script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
  <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  </body>
  </html>
{% endblock %}

