{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Varchas - Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'images/img-01.png' %}" alt="IMG">
            </div>

            <form class="login100-form validate-form" action="" method="post" id="register" autocomplete="off">
					<span class="login100-form-title">
						Member Register
					</span>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="red-text">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}


                {#                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">#}
                {#                    <input class="input100" type="text" name="email" placeholder="Email"#}
                {#                           id="{{ form.username.id_for_label }}">#}
                {#                    <span class="focus-input100"></span>#}
                {#                    <span class="symbol-input100">#}
                {#							<i class="fa fa-envelope" aria-hidden="true"></i>#}
                {#						</span>#}
                {#                </div>#}

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text"
                           id="{{ form.first_name.id_for_label }}"
                           placeholder=" "
                           name="{{ form.first_name.name }}"
                           required
                           autofocus>
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text"
                           id="{{ form.last_name.id_for_label }}"
                           placeholder=" "
                           name="{{ form.last_name.name }}">
                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>

                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text"
                           id="{{ form.gender.id_for_label }}"
                           placeholder=" "
                           name="{{ form.gender.name }}"
                    >
                    <label for="{{ form.gender.id_for_label }}">Gender</label>


                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text"
                           id="{{ form.college.id_for_label }}"
                           placeholder=" "
                           name="{{ form.college.name }}">
                    <label for="{{ form.college.id_for_label }}">College</label>


                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="email"
                           id="{{ form.email.id_for_label }}"
                           placeholder=" "
                           name="{{ form.email.name }}"
                           required>
                    <label for="{{ form.email.id_for_label }}">Email</label>


                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="tel"
                           id="{{ form.phone.id_for_label }}"
                           placeholder=" "
                           name="{{ form.phone.name }}"
                           required>
                    <label for="{{ form.phone.id_for_label }}">Contact</label>


                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text"
                           id="{{ form.address.id_for_label }}"
                           placeholder=" "
                           name="{{ form.address.name }}"
                           required>
                    <label for="{{ form.address.id_for_label }}">City</label>


                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text"
                           id="{{ form.state.id_for_label }}"
                           placeholder=" "
                           name="{{ form.state.name }}">
                    <label for="{{ form.state.id_for_label }}">State</label>


                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="pt-3">&nbsp;&nbsp;Do you require accommodation?</span>
                    <label class="switch" id="{{ form.accommodation_required.id_for_label }}">
                        <input type="checkbox" id="{{ form.accommodation_required.id_for_label }}">
                        <span class="slider round"></span>
                    </label>

                    {#                    <span class="focus-input100"></span>#}
                    {#                    <span class="symbol-input100">#}
                    {#							<i class="fa fa-envelope" aria-hidden="true"></i>#}
                    {#						</span>#}
                </div>

                <div class="wrap-input100 validate-input">
                    <input type="text"
                           class="input100"
                           id="{{ form.referred_by.id_for_label }}"
                           placeholder=" "
                           name="{{ form.referred_by.name }}"
                           value="{{ request.GET.referral }}"
                           required
                           style="width:100%">
                    <label for="{{ form.referred_by.id_for_label }}">Referral Code
                        <span style="font-size:10px">(Optional)</span>
                    </label>

                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" id="{{ form.password1.id_for_label }}"
                           name="{{ form.password1.name }}"
                           placeholder="Password" required>
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" id="{{ form.password2.id_for_label }}"
                           name="{{ form.password2.name }}"
                           placeholder="Password" required>
                    <label for="{{ form.password2.id_for_label }}">Repeat Password</label>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'register-success' in message.tags %}
                            <div class="form-header green mb-4">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Register
                    </button>
                </div>

                <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="{% url 'login' %}">
                        Already Registered?
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>