<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Admin Portal</title>
</head>
<body>
    <div class="container">
    <center>Welcome to the Admin Portal<br>
    </center>
    <div class="row">

    <a href="{% url 'main:dteams' %}">Registered Teams</a>
    <div style="padding-left: 10px;"></div>
    <a href="{% url 'main:dusers' %}">Registered Users</a>
    </div>
    
    </div>
</body>
</html>