{% extends 'main/base.html' %}
{% load static %}
{% block body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.1/gsap.min.js"></script>
  <style>
    .overlay {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      width: 100%;
      height: 100%;
      transition: .5s ease;
      opacity: 1;
      text-align: center;
    }
    .overlay:hover{
       background: rgba(0, 0, 0, 0.3);
    }
  .intro_box:hover{

    box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
  }
  </style>
  <!-- Home -->

  <div class="home" style="margin-top: 70px">

    <!-- Slider -->
    <div class="home_slider_container" style="background: white">
      <div class="owl-carousel owl-theme home_slider">

        <!-- Slide -->
        <div class="slide">
          <div class="background_image"><img src="{% static 'images/v1.jpeg' %}"></div>
          <div class="home_slider_overlay"></div>
          <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
            <div class="home_container">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="home_content active">
                      <div class="home_subtitle"></div>
                      <div class="home_title">
                        <h1><span>Get</span> your</h1>
                        <h1><span>Game</span> On</h1>
                      </div>
                      <div class="button home_button"><a href="{% url 'accounts:register' %}">Register</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image"><img src="{% static 'images/v2.jpeg' %}"></div>
          <div class="home_slider_overlay"></div>
          <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
            <div class="home_container">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="home_content">
                      <div class="home_subtitle"></div>
                      <div class="home_title">
                        <h1><span>Get</span> your</h1>
                        <h1><span>Game</span> On</h1>
                      </div>
                      <div class="button home_button"><a href="{% url 'accounts:register' %}">Register</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image"><img src="{% static 'images/v3.jpeg' %}" ></div>
          <div class="home_slider_overlay"></div>
          <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
            <div class="home_container">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="home_content">
                      <div class="home_subtitle"></div>
                      <div class="home_title">
                        <h1><span>Get</span> your</h1>
                        <h1><span>Game</span> On</h1>
                      </div>
                      <div class="button home_button"><a href="{% url 'accounts:register' %}">Register</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
    <!-- About -->

  <div id="about" class="about">
    <div class="container">
      <div class="row">

        <!-- About Content -->
        <div class="col-lg-8">
          <div class="about_content">
            <div class="section_title_container">
              <div class="section_title"><h1>about varchas</h1></div>
            </div>
            <div class="about_text" >
              <p>“Varchas” is the annual fest of IIT Jodhpur. Being the largest sports fest of
                  Rajasthan, Varchas celebrates the spirit of sportsmanship and serves as a
                  platform to showcase the countless hours of perspiration put in by teams o
                  achieve excellence in their sport. Since its inception in 2011 the grandeur of
                  Varchas has spread far and wide across the best college's of India.</p>
            </div>
            <div class="button about_button"><a href="{% url 'accounts:register' %}">Register</a></div>
          </div>
        </div>

        <!-- About Image -->
        <div class="col-lg-4">
          <div class="about_image"><img src="{% static 'images/about.png' %}" alt=""></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Quote -->

  <div class="quote">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="quote_content text-center">
            <p>“Training gives us an outlet for suppressed energies created by stress and thus tones the
              spirit just as exercise conditions the body.”</p>
          </div>
          <div class="quote_author text-center">– Arnold Schwarzenegger</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro -->

    {% include 'main/mixins/event_main_mixin.html' with event_list=event_list %}


  <!-- CTA -->

  <div id="reg" class="cta">
    <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">

      <!-- CTA Image -->
      <div class="cta_image align-self-stretch">
        <div class="background_image" style="background-image:url(../../static/images/cta.jpg)"></div>
      </div>

      <!-- CTA Content -->
      <div class="cta_content">
        <div class="section_title_container">
          <div class="section_subtitle">Do you have it in you?</div>
          <div class="section_title"><h1>Register NOW</h1></div>
        </div>
        <div class="cta_list">
          <ul>
            <li class="d-flex flex-row align-items-center justify-content-start">
              <img src="{% static 'images/check.png' %}" alt="">
              <span>Varchas is an embodiment of the ideology and provides a platform to athletes to showcase their talent. </span>
            </li>
            <li class="d-flex flex-row align-items-center justify-content-start">
              <img src="{% static 'images/check.png' %}" alt="">
              <span> More than 1500 participant from all over the country participated in
the fest last year. span>
            </li>
            <li class="d-flex flex-row align-items-center justify-content-start">
              <img src="{% static 'images/check.png' %}" alt="">
              <span>Last year, Varchas witnessed a sensation among the youth. Athletes participate wholeheartedly in
poker nights and other recreational informal events..</span>
            </li>

          </ul>
        </div>
        <div class="cta_buttons">
          <div class="d-flex flex-row align-items-start justify-content-start flex-wrap">
            <div class="button cta_button"><a href="{% url 'accounts:register' %}">Register</a></div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Classes -->

  <div class="classes" style="margin-top: 0;padding-top: 0">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">

            <div class="section_title"  style="margin-top: 0;padding-top: 0"  >
              <span style="font-size: 14vw; font-family:tosca_zeroregular;margin-right: -120px">
                    V                 </span>
                  <span style="font-size: 8vw;font-family:tosca_zeroregular">
                    archas'                  </span>

                <span style="font-size: 14vw; font-family:technomaregular;margin-left: -50px">20</span>
              </div>
            <div class="section_subtitle">IN BRIEF</div>
          </div>

          <!-- Classes Slider -->
          <div class="classes_slider_container">
            <div class="owl-carousel owl-theme classes_slider">

              <!-- Slide -->
              <div>
                <div class="classes_slide_wrap">
                  <div class="text-center">
                    <div class="classes_title"><h3>Sport events</h3></div>
                    <div class="classes_text">
                      <p>Varchas provides a platform to athletes to showcase their talent.  More than 1500 participant from all over the country participated in
the fest last year.</p>
                    </div>
                    <div class="class_image"><a href="#"><img
                            src="{% static 'sportify/images/instructor_1.jpg' %}" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div>
                <div class="classes_slide_wrap">
                  <div class="text-center">
                    <div class="classes_title"><h3>Mini Marathon</h3></div>
                    <div class="classes_text">
                      <p>The young professionals here at IIT Jodhpur organised the marathon with the
aim of arousing social consciousness and solidarity among the individuals.  </p>
                    </div>
                    <div class="class_image"><a href="#"><img
                            src="{% static 'sportify/images/instructor_2.jpg' %}" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div>
                <div class="classes_slide_wrap">
                  <div class="text-center">
                    <div class="classes_title"><h3>SOCH</h3></div>
                    <div class="classes_text">
                      <p>SOCH is the social initiative of Varchas. We develop a platform to spread awareness and motivate people to take a collective stand against social issues prevailing in our society.</p>
                    </div>
                    <div class="class_image"><a href="#"><img
                            src="{% static 'sportify/images/instructor_2.jpg' %}" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing -->

  <div class="pricing">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/pricing.jpg"
         data-speed="0.8"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <div class="section_subtitle">our programs</div>
            <div class="section_title"><h1>pricing</h1></div>
          </div>
          <div class="pricing_slider_container">
            <div class="owl-carousel owl-theme pricing_slider">

              <!-- Slide -->
              <div>
                <div class="pricing_box text-center">
                  <div class="pricing_title_box">
                    <div>
                      <div class="pricing_name">beginner</div>
                      <div class="pricing_price">Free</div>
                      <div class="pricing_per">1 day</div>
                    </div>
                  </div>
                  <div class="pricing_content">
                    <div class="pricing_list">
                      <ul>
                        <li>2 E-mail Addresess</li>
                        <li>25 GB Space</li>
                        <li>24h Live Support</li>
                        <li>Documetation inside</li>
                        <li>SEO Plan</li>
                      </ul>
                    </div>
                    <div class="pricing_info"><a href="#">i</a></div>
                    <div class="button pricing_button ml-auto mr-auto"><a href="#">order plan</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div>
                <div class="pricing_box text-center pricing_box_alt">
                  <div class="pricing_title_box">
                    <div>
                      <div class="pricing_name">beginner</div>
                      <div class="pricing_price">$29<span>90</span></div>
                      <div class="pricing_per">Per Month</div>
                    </div>
                  </div>
                  <div class="pricing_content">
                    <div class="pricing_list">
                      <ul>
                        <li>2 E-mail Addresess</li>
                        <li>25 GB Space</li>
                        <li>24h Live Support</li>
                        <li>Documetation inside</li>
                        <li>SEO Plan</li>
                      </ul>
                    </div>
                    <div class="pricing_info"><a href="#">i</a></div>
                    <div class="button_2 pricing_button ml-auto mr-auto"><a href="#">order plan</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div>
                <div class="pricing_box text-center">
                  <div class="pricing_title_box">
                    <div>
                      <div class="pricing_name">beginner</div>
                      <div class="pricing_price">$59<span>90</span></div>
                      <div class="pricing_per">Per Month</div>
                    </div>
                  </div>
                  <div class="pricing_content">
                    <div class="pricing_list">
                      <ul>
                        <li>2 E-mail Addresess</li>
                        <li>25 GB Space</li>
                        <li>24h Live Support</li>
                        <li>Documetation inside</li>
                        <li>SEO Plan</li>
                      </ul>
                    </div>
                    <div class="pricing_info"><a href="#">i</a></div>
                    <div class="button pricing_button ml-auto mr-auto"><a href="#">order plan</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <footer class="footer">
    <div class="footer_content">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="footer_logo text-center"><a href="#"><img src="images/logo_3.png" alt=""></a></div>
          </div>
        </div>
        <div class="row footer_row">
          <div class="col-lg-4 footer_col">
            <div class="footer_item text-center">
              <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                <div><img src="images/phone.png" alt=""></div>
              </div>
              <div class="footer_title">talk to us</div>
              <div class="footer_list">
                <ul>
                  <li>+34 5667 4332 244</li>
                  <li>+224 667 889</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 footer_col">
            <div class="footer_item text-center">
              <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                <div><img src="images/mail.png" alt=""></div>
              </div>
              <div class="footer_title">e-mail</div>
              <div class="footer_list">
                <ul>
                  <li>Contact@sportify25.com</li>
                  <li>office@sportify25.com</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 footer_col">
            <div class="footer_item text-center">
              <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                <div><img src="images/contact.png" alt=""></div>
              </div>
              <div class="footer_title">location</div>
              <div class="footer_list">
                <ul>
                  <li>MAin str. 25</li>
                  <li>458811 CA</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bar d-flex flex-row align-items-center justify-content-center">
      <div class="copyright">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
              href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
    </div>
  </footer>
  </div>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
  <script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
  <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
  <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
  <script src="{% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.js' %}"></script>
  <script src="{% static 'plugins/easing/easing.js' %}"></script>
  <script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
  <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  </body>
  </html>
{% endblock %}