{% extends 'adminportal/base.html' %}
{% load static %}
{% block body %}
        <div class="row mb-12">
            <div class="col-2 themed-grid-col"><b>Team Name</b></div>
            <div class="col-2 themed-grid-col"><b>Sport</b></div>
            <div class="col-2 themed-grid-col"><b>Captian</b></div>
            <div class="col-2 themed-grid-col"><b>College</b></div>
            <div class="col-2 themed-grid-col"><b>Team Members</b></div>
            <div class="col-2 themed-grid-col"><b>Date Created</b></div>
        </div>
        {% for team in teams %}
        <div class="row mb-12">
            <div class="col-2 themed-grid-col">{{team}}</div>
            <div class="col-2 themed-grid-col">{{team.get_sport_display}}</div>
            <div class="col-2 themed-grid-col">{{team.captian.user.first_name}}</div>
            <div class="col-2 themed-grid-col">{{team.college}}</div>
            <div class="col-2 themed-grid-col">{% for member in team.members.all %} {{member.user.first_name}} {{member.user.last_name}}<br> {% endfor %} </div>
            <div class="col-2 themed-grid-col">{{team.captian.user.date_joined}}</div>
        </div>
        {% endfor %}
    <br>
    <a href="{% url 'adminportal:dashboard' %}">Go Back</a>
    </div>
    {% endblock %}