{% extends 'adminportal/base.html' %}
{% load static %}
{% block body %}
        <div class="row mb-10">
            <div class="col-2 themed-grid-col"><b>Player Name</b></div>
            <div class="col-1 themed-grid-col"><b>Gender</b></div>
            <!-- <div class="col-3 themed-grid-col"><b>Email</b></div> -->
            <div class="col-2 themed-grid-col"><b>Phone</b></div>
            <div class="col-2 themed-grid-col"><b>College</b></div>
            <div class="col-2 themed-grid-col"><b>Team Id</b></div>
            <div class="col-3 themed-grid-col"><b>Date Joined</b></div>
        </div>
        {% for user in users %}
        <div class="row mb-10">
            <div class="col-2 themed-grid-col">{{user.user.first_name}}</div>
            <div class="col-1 themed-grid-col">{{user.gender}}</div>
            <!-- <div class="col-3 themed-grid-col">{{user.user}}</div> -->
            <div class="col-2 themed-grid-col">{{user.phone}}</div>
            <div class="col-2 themed-grid-col">{{user.college}}</div>
            <div class="col-2 themed-grid-col">{{user.teamId}}</div>
            <div class="col-3 themed-grid-col">{{user.user.date_joined}}</div>
        </div>
        {% endfor %}
    <br>
    <a href="{% url 'adminportal:dashboard' %}">Go Back</a>
    </div>
    {% endblock %}